@charset "iso-8859-1";

<!--

.footer {
    background-color:#B31B1B;
    position: fixed;
    bottom: 0;
    width: 100%;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.style-five { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
hr.style-six { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}

hr.flare {
    height: 50px;
    border-style: ridge;
    border-color: #900;
    border-width: 2px 0 0 0;
    border-radius: 45px;
}
hr.flare:before {
    display: block;
    content: "";
    height: 50px;
    margin-top: -51px;
    border-style: ridge;
    border-color: #900;
    border-width: 0 0 2px 0;
    border-radius: 45px;
}

hr.hrgray0 {
    border: 1px solid #CCCCCC;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

hr.hrgray1 {
    border: 1px solid #EEEEEE;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

hr.hrgray2 {
    border: 1px solid #EEEEEE;
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}


.allkw{
    text-align:center;
    font-size: 150%;
    font-weight:bold;
}

.score {
    font-size: 75%;
    font-weight:bold;
}

.scorebars{
    display: grid;
}
.scorebar1, .scorebar1a, .scorebar1b, .scorebar1c, .scorebar2{
    grid-column: 1;
    grid-row: 1;
}
.scorebar1 {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 5px;
    width: 100%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1;
}
.scorebar1a {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 5px;
    width: 25%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1;
}
.scorebar1b {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 5px;
    width: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1;
}
.scorebar1c {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 5px;
    width: 75%;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1;
}

.scorebar2 {
    display: block;
    margin-left: 0;
    margin-right: auto;
    height: 5px;
    opacity: 0.5;
    border-style: solid;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 1;
}

.entry0 {
    background-color:#F8F8F8;
    //border-color:#EEEEEE;
    //border:1px solid #F0F0F0;
    border-radius:20px;
    padding: 2px;
    font-size: 90%;
}

.entry1 {
    background-color:#F8F8F8;
    //border-color:#EEEEEE;
    //border:1px solid #CCCCEE;
    border-radius:20px;
    padding: 2px;
    font-size: 80%;
}

.entry2 {
    background-color:#F8F8F8;
    //border-color:#EEEEEE;
    //border:1px solid #CCEEEE;
    border-radius:20px;
    padding: 2px;
    font-size: 80%;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.settings {
    //background-color:#FFEEEE; 	   
	background-color:#EEEEFF;
	//background: linear-gradient(90deg, #EEEEFF, #FFFFFF, #EEEEFF);
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:85%;
}

#tagcloud{
    color: #dda0dd;
    font-family: Arial, verdana, sans-serif;
    width:200px;
    border: 1px solid black;
    text-align: center;
}

#tagcloud a{
    color: green;
    text-decoration: none;
    text-transform: capitalize;
}

body{
    margin:0;	
    padding:0;
    color: #000;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
    backgound-color:#F0F0F0;
}	

.keywords {
    color:#CC5555;
}

.highlight {
    //color:#555;
    //text-decoration: underline;
    border: 1px solid gray;
}

.highlight_alt {
    //color:#500;
    //text-decoration: underline;
    border: 1px solid #500;
}


.title0 {
    color:#FFFFFF;
    background-color:#FFFFBB;
    background: linear-gradient(to right, black, #CCCCCC);
    //border-top-style:dashed;
    //border-bottom-style:dashed;
    //border-color:#FFAAAA;
    border-width:1px;
    border-radius:10px;
    padding: 10px;
    padding-left:30px;
    font-weight:bold;
    font-size:125%;
    //text-shadow: 3px 2px red;
}

.title1 {
    color:#FFFFFF;
    background-color:#FFFFBB;
    background: linear-gradient(to right, #008, #CCCCCC);
    //border-top-style:dashed;
    //border-bottom-style:dashed;
    //border-color:#FFAAAA;
    border-width:1px;
    border-radius:10px;
    padding: 10px;
    padding-left:30px;
    font-weight:bold;
    font-size:125%;
    //text-shadow: 3px 2px red;
}

.title2 {
    color:#FFFFFF;
    background-color:#FFFFBB;
    background: linear-gradient(to right, #080, #CCCCCC);
    //border-top-style:dashed;
    //border-bottom-style:dashed;
    //border-color:#FFAAAA;
    border-width:1px;
    border-radius:10px;
    padding: 10px;
    padding-left:30px;
    font-weight:bold;
    font-size:125%;
    //text-shadow: 3px 2px red;
}

.authors {
    padding-left: 30px;
    padding-right: 20px;
    color:#555555;
    font-style: italic;
    font-weight:bold;
}

.firstauthor {
    text-decoration: underline;
    color:#900000;
    font-size: 125%;
}

.comment0 {
    color:#888888;
    padding-left:45px;
    font-size:75%;
}

.comment1 {
    color:#000000;
    padding-left:45px;
    font-size:75%;
}

.summary {
    padding: 20px;
    text-align: justify;
    line-height: 150%;
}

.addr {
    padding-left: 45px;
    font-size:75%;
}

.categories {
    padding-left:45px;
    font-size:75%;
}

.hrwhite {
    height: 1px;
    color:#FFFFFF;
}

.hrblack{
    height:1px;
    color:black;
}

.cells {
    color:white;
    font-size:80%;
}
.block {
    color:white;
    background-color:#002841;
    background: linear-gradient(90deg, #001020, #002841, #001020);
}

.linkheader:link{
    text-decoration:underline;
    color:white;
}
.linkheader:visited{
    text-decoration:underline;
    color:white;
}
.linkheader:active{
    text-decoration:underline;
    color:white;
}

.link0:link{
    font-style:italic;
    text-decoration:none;
    color:#FFFFFF;
}
.link0:visited{
    font-style:italic;
    text-decoration:none;
    color:#FFFFFF;
}
.link0:hover{
    font-style:italic;
    text-decoration:none;
    color:#EAA;
}
.link0:active{
    font-style:italic;
    text-decoration:none;
    color:#FFFFFF;
}

a:link{
    font-style:italic;
    text-decoration:none;
    color:#000000;
}

a:visited {
    font-style:italic;
    color:#000000;
}

a:hover {
    //font-weight:bold;
    color:#991166;
    text-decoration:underline overline;
    //background-color:#CCCCFF;
}

a:active {
    text-decoration:none;
    color:#FFAAAA;
}

.nodeco:link{
    text-decoration:none;
    color: inherit;
}
.nodeco:visited{
    text-decoration:none;
    color: inherit;
}
.nodeco:hover{
    text-decoration:underline overline;
    color: red;
}
.nodeco:active{
    text-decoration:none;
    color: inherit;
}

.bouton {
    border-style: solid;
    border-color: black;
    background:#002841;
    color:white;
}

.bouton:hover {
    border-style: dashed;
    border-color: black;
    background:#0080AA;
    color:white;
}

.boutonmenu {
    border-style: none;
    border-color: gray;
    background:#EEFFFF;
    color:#002841;
    background: hsla(250, 80%, 94%, 0.00)
}

.boutonmenu:hover {
    border-style: none;
    border-color: gray;
    background:#002841;
    color:white;
}


#menu {
    position: fixed;
    left: 0;
    top: 93%;
    width: 400;
    margin: -0.5em 0 0 0;
    z-index: 5;
    background: #002841;
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.3);
    border-left: none;
    padding: 0.2em 0.5em 0.2em 0.1em;
    box-shadow: 0 1px 3px black;
    border-radius: 0em 3em 3em 0em;
}

#menu li { margin: 0 }
#menu a { color: inherit }

/* Make menu absolute, not fixed, on IE 5 & 6 */
#menu { position: absolute }
*>#menu { position: fixed }

p.stb { text-indent: 0; margin-top: 0.83em }
p.mtb { text-indent: 0; margin-top: 2.17em }
p.ltb { text-indent: 0; margin-top: 3.08em }

#menudeux {
    position: fixed;
    left: 0;
    top: 90%;
    width: 100;
    margin: -0.5em 0 0 0;
    z-index: 4;
    background: hsla(250, 80%, 94%, 0.23);
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.3);
    border-left: none;
    padding: 0.2em 0.5em 0.2em 0.1em;
    box-shadow: 0 1px 3px black;
    border-radius: 0em 3em 3em 0em;
}

/* Make menu absolute, not fixed, on IE 5 & 6 */
#menudeux { position: absolute }
*>#menudeux { position: fixed }


-->
