
<div>
    <button class='toggleEntry' style='float:right;border-radius: 2em 2em 2em 2em;border:2px;border-color:black'>-</button>
    
    <div id='sdate-xxx' class=fullentry style="width:90%; margin-left: auto; 
margin-right: 0;">
        <div class=entry1>
            
            <center><font class=score>CODE</font></center>
            <br>
                        
            <div class=title1>
                <a href='{{link}}' target=_blank class="link0">{{title}}</a>
                {{scorebar}}
            </div>

            <br>
            
            <div class="authors">{{authors}}</div>
            
            <div class=summary>{{summary}}</div>
            
                <hr class='hrgray1'>
                <div class=allkw>{{allkw}}</div>
                <hr class='hrgray1'>
                
                <div class=categories>Published date: {{published}}. Score {{totalscore}}.
                </div>
            
            <br>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
