<html>
    <head>
        <title>bmarxiv [{{name}}]</title>
        <link rel=stylesheet type="text/css" media="screen" href="../static/css/formatbmarxiv.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script>jQuery(function(){
             jQuery('.toggleEntry').click(function(){
                 $(this).parent( 'div' ).find('.fullentry').toggle();if ($.trim($(this).text()) === '+') {
			         $(this).text('-');
                 } else {
                     $(this).text('+');
                 }
             });
         });
         jQuery(function(){
             jQuery('.toggleSingle').click(function(){
                 $(this).parent( 'div' ).find('.togentry').toggle();if ($.trim($(this).text()) === 'Show') {
			         $(this).text('Hide');
                 } else {
                     $(this).text('et al.');
                 }
             });
         });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
             jax : [ "input/TeX", "output/HTML-CSS" ],
             extensions : [ "tex2jax.js" ],
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],processEscapes: true}
         });
         MathJax.Hub.Config({TeX: {noUndefined: {attributes: {mathcolor: "black"}}}
         });
         //MathJax.Hub.Config({skipStartupTypeset: true}); //if skip is on, them change var isTypeset = false below;
        </script>
        <script type="text/javascript" src="../static/js/scripts.js"></script>  
        <script type="text/x-mathjax-config" src="mathjax_scripts.js"></script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
        <style type="text/css"></style>
    </head>
    
    <body bgcolor=#EEEEEE>
        
        <div style='background-color:#808080;color:#EEEEEE;font-size:75%'>From {{date_from}} to {{date_to}} [arXiv timezone]</div>
        
        <div id=menudeux>
             <button id=togglemenu class='boutonmenu'>Hide sections</button>
             </div>
        
             <div id=menu>
                 <font color=grey>|</font> <a href="#okscore">Score &#10004;</a> <font color=grey>|</font> <a href='#authorscore'>Author &#10004;</a> <a href="#okscorerevised">Revised &#10004;</a> <font color=grey>|</font>  <a href="#zeroscore">Score &#10007;</a> 
       <!-- <font color=grey>|</font> <a id="toggle" type="link" value="Enable Mathjax" onclick="ToggleMJ(this)" />Toggle Mathjax</a> -->
       </div>
        
        <table width=100% cellpadding=5 cellspacing=0 border=0 class='block'>
            <tr>
                <td class="cells">
	                <table width=100% cellpadding=5 cellspacing=0 border=0>
	                    <tr>
	                        <td class="cells">
	                            <font size=+2><b><font style='font-variant:small-caps;'>BMarXiv</font></font></b></font>
	                        </td>
	                    </tr>
	                </table>
                    
	                <hr width=100% class="style-six">
                    
	                <table align=center width=100% cellpadding=5 cellspacing=0 class='block'>
	                    <tr>
	                        <td colspan=3 class="cells">
		                        <b>Tips & examples</b>
		                        <br><font size=-1>- Submissions <b>not</b> matching your keywords can be accessed with a button below the results. / Keywords are looked for in the summary but also in the title and in the authors names. / Links open by default in a new tab. / If you use several custom links, give them a name using the optional parameter for the bookmarks to be explicit.</font>
	                        </td>
	                        <td align=right valign=bottom class="cells">
	                            <img width=80 src="../static/images/PAph_dog.gif" alt="from www.mrbilly.com">
	                        </td>
	                    </tr>
	                </table>
                    
	                <hr width=100% class="style-six">
                    
                </td>
            </tr>
        </table>
        
        <table width=95% align=center cellpadding=15>

            
            <tr>
                <td align=left bgcolor=white>
                    <center>
                        <div class='settings'>Keywords: <div class=keywords>{{keywords}}</div>
                            Categories: <div class=keywords>{{categories}} --excluded {{excategories}}</div>
                            Name of profile: <div class=keywords>{{name}}</div>
                        </div>
                    </center>
                    <br>
                    
                    <center><div class=entry0>Number of submissions : {{entries_total}}</div></center>
                    <br><br>
                    <center><div class=entry0>Number of submissions with keyword match: {{entries_match_new}} new  and {{entries_match_revised}} revised</div></center>
                    
                    
                    <!-- <center><br><font color=red><i>Not what you expected? Check <a href='https://arxiv.org/new' class=link>arxiv news</a> for possible downtimes and other issues<br>arXiv is transitionning to new APIs so once in a while there could be some issues. Try again later! </i></font></center> -->
                    
                    <br><br>
                    
                    <a name='okscore'></a><br><div width=100%><hr class=style-four><h2>Submissions with keyword match</h2><br></div>
                    <br>
                    <br>
                    
                    {{display_entries}}
                    
                    <br><br>

                    <a name='authorscore'></a><br><br>
                    <div style='width:85%;padding-left:15%'><hr class=style-four><h2>Submissions with no keyword match but good author score (you may wanna add keywords from this section!)</h2>
                        <br>
                        {{display_entries_author}}
                    </div>
                    <br><br>
                    
                    <a name='okscorerevised'></a>
                    <div style='width:75%;padding-left: 25%'><hr class=style-four><h4>Updates/revised versions with keyword match</h4>
                        <br>
                        {{display_entries_updates}}
                    </div>
                    
                    <a name='zeroscore'></a><br><br>
                    <div style='width:50%;padding-left: 50%'><hr class=style-four><h2>Submissions with no keyword match</h2><br>
                        <button id=togglescorenull class='bouton'>Show</button>
                        <div id=scorenull style='display: none;'>
                            {{display_entries_zero}}
                            <hr class=style-four>
                            <hr class=style-four>
                            <hr class=style-four>
                            {{display_entries_zero_updates}}
                        </div>
                    </div>
                    
                    
                    <br><br><br>
                    
                    
                    
                    
                    
                    <br><hr class="hrgray1">
                    
                        
                        <!-- 
                             <div class=footer><center><button id='sdate-showall'>Show all</button><button id='sdate-hideall'>Hide all</button></center></div>
                        -->

                </td>
            </tr>
        </table>
                        
    </body>
    
</html>
