
<div>
    <button class='toggleEntry' style='float:right;border-radius: 2em 2em 2em 2em;border:2px;border-color:black'>-</button>
    
    <div id='sdate-xxx' class=fullentry style="width:90%; margin-left: auto; 
margin-right: 0;">
        <div class=entry2>
            
            <center><font class=score>CONFERENCE</font></center>
            <br>
            
            <div class=title2>
                <a href='{{link}}' target=_blank class="link0">{{title}}</a>
                {{scorebar}}
            </div>
            
                <div class=summary>{{description}}</div>
                
                <hr class='hrgray2'>
                <div class=allkw>{{allkw}}</div>
                <hr class='hrgray2'>
                
                <div class=categories>Published date: {{published}}. Score {{totalscore}}.
                </div>
            
            <br>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
